%nav.navbar.navbar-default#site_topmmenu{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    =link_to Helpdesk.site_address, main_app.root_path, :class=>'navbar-brand', :title => t('helpdesk.name')
    =link_to t('helpdesk.name'), admin_root_path, :class=>'navbar-brand', :title => t('helpdesk.name')
  #bs-navbar-collapse-1.collapse.navbar-collapse.in
    %ul.nav.navbar-nav
      -if helpdesk_admin?
        = menu_li t('helpdesk.tickets.title'),admin_tickets_path
        / = menu_li t('helpdesk.ticket_types.title'),admin_ticket_types_path
        = menu_li t('helpdesk.subscribers.title'),admin_subscribers_path
        = menu_li t('helpdesk.faqs.title'),admin_faqs_path

        %li.dropdown.user(data-dropdown="dropdown")
          = link_to current_user.display_name, "#",:class=>"dropdown-toggle"
          %ul.dropdown-menu
            %li.signout
              =link_to 'Wróć do aplikacji',main_app.root_path
              =link_to t('users.sign_out'),main_app.destroy_user_session_path, :method => :delete, :class => 'icon exit blue'
      -else
        =menu_li t('users.sign_in'),new_user_session_path, {:class => "power"}
        =menu_li t('users.sign_up'),new_user_registration_path, {:class => "signup"}
