.navbar
  .navbar-inner
    / .container
    =link_to Helpdesk.site_address, main_app.root_path, :class=>'brand', :title => Helpdesk.site_address
    =link_to Helpdesk.name, root_path, :class=>'brand', :title => Helpdesk.name
    %nav
      %ul.nav
        = menu_li t('helpdesk.tickets.title'),tickets_path
    