/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.comment-left{
  display:block;
  width:100px;
  height:100px;
  float:left;
}

.comment-textarea{
  height: 100px;
  width: 482px;
}